Stardrop Installed Mods/DailyScreenshot
Stardrop Installed Mods/[CP] Seasonal Cute Characters/config.json
Stardrop Installed Mods/HappyBirthday/data
Stardrop Installed Mods/NPCMapLocations/config/*.json
Stardrop Installed Mods/UIInfoSuite2/data/*.json