#most people don't want daily screenshot
Stardrop Installed Mods/DailyScreenshot

#computer specific setting files
*/[CP] Seasonal Cute Characters/config.json
*/HappyBirthday/data/*
*/NPCMapLocations/config/*.json
*/UIInfoSuite2/data/*.json
*/FarmTypeManager/data/*.json

#save files
*.save